<h1>Listing karma_items</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Points</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @karma_items.each do |karma_item| %>
  <tr>
    <td><%= karma_item.name %></td>
    <td><%= karma_item.points %></td>
    <td><%= link_to 'Show', karma_item %></td>
    <td><%= link_to 'Edit', edit_karma_item_path(karma_item) %></td>
    <td><%= link_to 'Destroy', karma_item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Karma item', new_karma_item_path %>
