<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @karma_item.name %>
</p>

<p>
  <b>Points:</b>
  <%= @karma_item.points %>
</p>


<%= link_to 'Edit', edit_karma_item_path(@karma_item) %> |
<%= link_to 'Back', karma_items_path %>
